/* Work Experience Section Styles */
.experience-section {
    padding: 50px 0;
    background-color: #fefafa;
    background-image: url(img/work-experience-bg-img.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.progress-wrapper {
    background-color: #eee; /* Light grey background */
    border-radius: 10px; /* Rounded corners for the progress bar background */
    overflow: hidden; /* Ensures inner bar doesn't break the rounded corners */
    width: 100%; /* Full width of the parent container */
    height: 20px; /* Adjust to your preference */
}

.progress-bar {
    background-color: #E74E4A; /* Your progress bar color */
    height: 100%; /* Full height of the wrapper */
    line-height: 20px; /* Aligns text vertically */
    color: white; /* Text color */
    text-align: center; /* Center the text horizontally */
    border-radius: 10px; /* Rounded corners for the progress bar */
    transition: width 0.5s ease-in-out; /* Smooth transition for changes in width */
}

.experience-timeline {
    display: flex;
    gap: 20px;
}

.experience-timeline .job {
    background-color: white;
    margin: 15px 0;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

.work-experience-title-div {
    display: flex;
    padding: 10px;
    gap:10px
}
.work-experience-title-div img {
    width: 3rem;
    height: 3rem;
    align-self: center;
}
    