.about-container {
  font-family: Lexend;
  padding-bottom: 4rem; 
  justify-content: center; /* Horizontally center */
  align-items: center;
}
 
.about-title {
  font-size: 3rem;
  color: #333;
  text-align: center;
}

.about-subtitle {
  font-size: 1.5rem;
  color: rgba(63, 63, 63, 1);
  text-align: center;
  margin-top: 10px;
  max-width: 40rem; /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

.about-content {
  display: flex;
  flex-wrap: wrap; /* Wrap the content on smaller screens */
  justify-content: space-between;
  margin-top: 40px;
}

.about-text {
  flex: 1;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.about-heading {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: left;
}

.about-description {
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: left;
}

.contact-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  text-align: justify;
}

.contact-btn:hover {
  background-color: #e04355;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  /* max-width: 100%; */
  width: 37rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 1rem;
  margin-left: auto;
}


@media (max-width: 940px) { 
  .about-content {
    margin: 20px; /* Add margin top on smaller screens */
  }
}


@media (max-width: 768px) { 
  .about-container {
    padding: 2rem; /* Add padding all around on smaller screens */
  }

  .about-content {
    flex-direction: column; 
    margin-top: 20px; /* Add margin top on smaller screens */
  }

  .about-text {
    padding: 0 1rem; /* Add horizontal padding to the text */
    margin-bottom: 2rem; /* Add spacing below text */
  }

  .about-image {
    margin: 0 -1rem 2rem -1rem; /* Add negative margins for better spacing */
  }

  .about-image img {
    max-width: 100%; 
    margin: 0 auto; /* Center the image within its container */
  }
  
  .about-subtitle {
    max-width: 100%;
    margin-top: 10px; /* Add margin top on smaller screens */
  }
}