.landing-container {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing-parent {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  margin-top: -70px;
}

.content {
  max-width: 500px;
}

.title {
  color: var(--primary-color);
  font-size: 2rem;
}

.heading {
  font-size: 4.5rem;
  margin: 10px 0;
}

.wave {
  display: inline-block;
  animation: waveAnimation 1s ease-in-out 4;
  transform-origin: bottom right;
}

@keyframes waveAnimation {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 25deg;
  }
  100% {
    rotate: 0deg;
  }
}

.name {
  margin-left: -8px;
  font-size: 5rem;
  margin: 0;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 1rem;
  color: #6c757d;
  line-height: 2rem;
  max-width: 80%;
}

.download-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.download-btn:hover {
  background-color: #e04355;
}

.social-icons {
  display: flex;
  margin-top: 20px;
}

.social-icons img {
  width: 3.5rem;
  height: auto;
  font-size: 1rem;
  margin-right: 5px;
  color: #6c757d;
  cursor: pointer;
  transform: translateY(0px);
  transition: 0.5s;
}

.social-icons img:hover {
  transform: translateZ(50px) translateY(-5px);
}

.image-container {
  position: relative;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  perspective: 10px;
}

.profile-image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Ellipse.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-20px);
  animation: slideUp 0.8s ease-in-out forwards;
}

.profile-image {
  position: relative;
  display: block;
  width: 350px;
  height: auto;
  padding: 3rem;
  z-index: 100;
}

@keyframes slideUp {
  from {
    transform: translateZ(-20px);
  }
  to {
    transform: translateZ(0px);
  }
}

.auto-show {
  animation: autoShowAnimation both;
  animation-timeline: view(30% auto);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.auto-show-left {
  animation: autoShowAnimationLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes autoShowAnimationLeft {
  from {
    opacity: 0;
    transform: translateX(-200px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.auto-show-right {
  animation: autoShowAnimationRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes autoShowAnimationRight {
  from {
    opacity: 0;
    transform: translateX(200px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.download-btn::after {
  content: url("../assets/img/download-icon.png");
  padding-left: 10px;
}

/* Media Queries */

@media (max-width: 1024px) {
  /* Tablets */
  .title {
    font-size: 2.5rem;
  }

  .heading {
    font-size: 3.5rem;
  }

  .name {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }

  .description {
    font-size: 1.3rem;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .landing-container {
    display: block;
  }
  /* Phones */
  .title {
    font-size: 2rem;
  }

  .heading {
    font-size: 3rem;
  }

  .name {
    font-size: 3rem;
    line-height: 3rem;
  }

  .description {
    font-size: 1.2rem;
  }
}
