

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: min-content;
}


.small-images-container::-webkit-scrollbar {
  height: 0.8rem;
}

.small-images-container::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

.small-images-container::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

.small-images-container::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.small-images-container {
  scrollbar-width: thin; 
  scrollbar-color: #797979 #f9f9f9; 
}


.project-details {
  text-align: center;
  margin-bottom: 20px;
}

.project-details h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.project-details p {
  color: #777;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.large-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-image img {
  object-fit: contain;
  max-width: 80%;
  width: 600px;
  height: 280px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, border-color 0.3s ease;
}


.large-image img:hover {
  transform: scale(1.02);
  border-color: #888;
}

.small-images-container {
  width: 100%;
  margin-bottom: 10px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}



.small-images img {
  width: 100%;
  cursor: pointer;
  border: 3px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 12px;
}

.small-images img:hover {
  border-color: #555;
}

@media (max-width: 768px) {
  .large-image img {
    max-width: 100%;
  }

  .small-images img {
    width: 120px;
    height: 80px;
  }
}
