
  .image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    max-height: min-content;
    margin: 40px auto;
  }
  
  .project-details {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .project-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-details p {
    color: #777;
    font-size: 16px;
    margin: 0;
  }
  
  .large-image {
    display: flex;           /* Enable flexbox for centering */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically (optional) */
}

  .large-image img {
    max-width: 80%;           /* Adjust to your desired size (e.g., 60%, 70%) */
   width:600px;
   height:280px;

    cursor: pointer;
    margin-bottom: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .large-image img:hover {
    transform: scale(1.02);
    border-color: #888;
  }
  
  .small-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .small-images img {
    width: 120px;
    height: 70px;
    cursor: pointer;
    border: 3px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .small-images img:hover {
    transform: scale(1.05);
    border-color: #555;
  }
  
  @media (max-width: 768px) {
    .large-image img {
      max-width: 100%;
    }
  
    .small-images img {
      width: 120px;
      height: 80px;
    }
  }
  